body {
    background: #fff;
    color: #333;
}

.aside__img {
    max-width: 120px;
    border-radius: 100%;
    display: flex;
    margin: auto;
    margin-top: 15px;
    box-shadow: 0 0 25px #7fd4;
}


.aside__panel {
    text-align: center;
    color: bisque; 
}

.aside___h3 {
    font-size: 1em;
}

span {
    font-size: 1.2em ;
    color: aquamarine;
    text-transform: uppercase;
}

.aside___h4 {
    font-size: 1em;
    opacity: 0.9;
    text-transform: uppercase;
}
.aside__dates{
    font-size: 0.8em;
    opacity: 0.8;
    list-style: none;
}

.aside__icons {
    margin: 10px 0;
}


.aside__link {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 10vw;
    text-decoration: none;
    border-radius: 10px;
    background:aquamarine;
    margin-top: 10px;
    padding: 3px;
    color: #333;
    font-size: 0.7em;
}

.aside__link:hover {
    box-shadow: 0 0 15px #777;
    transition: 0.2s;
    transform: scale(1.1);
}

.header__h3 {
    color: #7fd;
    text-transform: capitalize;
}

a {
    color: #fff9;
}


.layout__main {
    min-height: 400px;
}

.nav__icons {
    padding-right: 10px ;
    border-right: 1px solid #666 ;
}