body {
    background: #161917;
    color: #333;
}


.contain {
    width: 100%;
    max-width: 1200px;
}

.sidebar__panel {
    background: #dd8;
    box-shadow: 0 0 15px #dd85;
    border-radius: 40px;
}
.sidebar__content {
    padding: 0 10px;
    font-size: 0.9em;
    height: 60vh;
}

.sidebar__img {
    border-radius: 100%;
    display: flex;
    margin: auto;
    margin-top: 10px;
    width: 90%;
    height: 20%;
}