.mi-tarjeta-especial {
    border: none;
    text-align: center;
    border-radius: 15px; /* Bordes más redondeados */
    transition: transform 0.3s ease; /* Efecto fluido */
}

.mi-tarjeta-especial:hover {
    transform: scale(1.05); /* Se agranda un poquito al pasar el mouse */
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

