li {
    color: grey;
}

.estilo {
    color: orange;
}

.hud-desarrollo {
    color: orange;
}

.desarrollo-de-personaje {
    color: orange;
}

#salto-movimientos {
    color: red;
}

.quien-es {
    color: black;
}